APP_ENV=development
LOG_LEVEL=debug
APP_NAME=incident_iq
DB_PATH="src/incident_iq/database/data/incident_iq.db"
CHROMA_DB_PATH="src/incident_iq/database/data/chroma_db"
RAG_CONFIG_PATH="src/incident_iq/rag/config"
