# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
.env
*.env

# Python build files
build/
dist/
*.egg-info/

# Docker
*.log
.dockerignore

# IDE/editor
.vscode/
.idea/
.DS_Store

#Bert
src/incident_iq/ml_model/bert