python-dotenv>=1.2.1
setuptools>=80.9.0
wheel>=0.45.1


langchain>=0.2.14
langchain-openai>=0.1.15
openai>=1.50.0

fastmcp>=2.2.0

python-dotenv>=1.0.1
httpx>=0.27.0

tqdm>=4.66.2
pandas>=2.2.0

fastapi
uvicorn[standard]
pydantic
requests
streamlit
streamlit-autorefresh

joblib
torch
numpy
transformers
scipy
langchain-community
langchain-ollama


deepagents>=0.1.0
langchain-core>=0.0.0
langchain-ollama>=0.0.0
httpx>=0.23.0
python-dotenv>=1.0.0